# Project especific files
data/
*tsv
*csv
notebooks/mac_*/

# MacOs
.DS_Store

# Python cache files
__pycache__/

# data folder
papers/*
!/papers/README.md

# venv
*venv/

# environment files
.env

# Jupyter
# notebooks/
.ipynb_checkpoints/

